<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile *ngFor="let tile of genericTiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">
      <mat-grid-tile-header>
          {{tile.header}}
      </mat-grid-tile-header>
      <span class="percentage">{{tile.percentage}}</span>
  </mat-grid-tile>
</mat-grid-list>
<span *ngIf="!genericTiles || genericTiles.length === 0">
  <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
  </div>
</span>
