<app-age-group-vaccine
  *ngIf="ageGroups.length > 0"
  region="Italia"
  [data]="ageGroups"
></app-age-group-vaccine>


<div fxLayout="row wrap">
    <mat-card style="flex-grow: 1">
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Le migliori cinque</mat-card-title>
            <mat-card-subtitle>Le prime cinque regioni per vaccinazioni effettuate
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
      <app-ranking [data]="bestFive"></app-ranking>
    </mat-card>

    <mat-card style="flex-grow: 1">
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Le ultime cinque</mat-card-title>
            <mat-card-subtitle>Le ultime cinque regioni per vaccinazioni effettuate
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
      <app-ranking [data]="worstFive"></app-ranking>
    </mat-card>
</div>


<!--<div fxLayout="row wrap">-->
<!--  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">-->
<!--    <mat-card>-->
<!--      <mat-card-content>-->
<!--        <div class="d-flex flex-wrap">-->
<!--          <div>-->
<!--            <mat-card-title>Le ultime cinque</mat-card-title>-->
<!--            <mat-card-subtitle>Le ultime cinque regioni per vaccinazioni effettuate-->
<!--            </mat-card-subtitle>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--      <app-ranking [data]="worstFive"></app-ranking>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->

<br/>
<mat-divider></mat-divider>

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>La classifica completa</mat-card-title>
            <mat-card-subtitle>Classifica delle regioni per vaccinazioni effettuate
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
      <app-ranking [data]="fullRanking"></app-ranking>
    </mat-card>
  </div>
</div>
