<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <div class="d-flex flex-wrap">
                  <div>
                      <mat-card-title>Epidemia da COVID-19 per province italiane</mat-card-title>
                      <mat-card-subtitle>Per visualizzare il grafico scrivi il nome della provincia
                      </mat-card-subtitle>

                      <span *ngIf="migrationDate"><br />
                          <mat-card-title>Ultimo aggiornamento:
                              {{migrationDate | date:  'dd-MM-yyyy, H:mm' }}</mat-card-title>
                          <br />
                      </span>
                      <!-- <mat-card-subtitle *ngIf="migrationDate">Dati aggiornati alla data {{migrationDate}}</mat-card-subtitle> -->
                  </div>
              </div>
          </mat-card-content>
          <mat-form-field class="form-field m-l-20">
              <mat-label>Provincia</mat-label>
              <input
              type="text"
              placeholder="es. Milano/Torino"
              aria-label="Number"
              matInput
              [formControl]="formControl"
              [matAutocomplete]="auto"
              [(ngModel)]="districtNameInput"
              (keyup.enter)="call()">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                  </mat-option>
              </mat-autocomplete>
              <button *ngIf="districtNameInput" mat-button matSuffix mat-icon-button aria-label="Search"
                  (click)="call()" [disabled]="isLoading">
                  <mat-icon>check</mat-icon>
              </button>
          </mat-form-field>
      </mat-card>
  </div>
</div>


<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
            <app-district-stats></app-district-stats>
          </mat-card-content>
      </mat-card>
  </div>
</div>


<div fxLayout="row wrap" *ngIf="districtNameInput.length > 0">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="min-height-800">
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs (selectedTabChange)="changeTabHandler($event)">
          <mat-tab label="Contagi">
            <app-district-infected></app-district-infected>
          </mat-tab>
          <mat-tab label="Vaccini">
            <app-district-vaccine></app-district-vaccine>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>
