<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>
              Dati statistici sui vaccini
            </mat-card-title>
            <mat-card-subtitle>Le informazioni riportate sono in fase di adeguamento, la pagina potrebbe essere modificata durante i prossimi giorni
            </mat-card-subtitle>
          </div>
        </div>
        <span *ngIf="lastUpdate"><br />
          <mat-card-title>Ultimo aggiornamento:
            {{lastUpdate | date:  'dd-MM-yyyy, H:mm' }}</mat-card-title>
          <br />
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>
              Statistiche
            </mat-card-title>
            <mat-card-subtitle>L'applicazione aggiorna i dati in maniera continuativa in base alle notifiche ufficiali da parte delle autorità competenti.
            </mat-card-subtitle>
          </div>
        </div>
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
            <mat-grid-tile-header>
              {{tile.header}}
            </mat-grid-tile-header>
            <span class="percentage">{{tile.percentage}}</span>
          </mat-grid-tile>
        </mat-grid-list>
        <span *ngIf="!tiles || tiles.length === 0">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </span>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="min-height-800">
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs (selectedTabChange)="changeTabHandler($event)">
          <mat-tab label="Somministrazioni">
            <app-vaccine-percentage></app-vaccine-percentage>
          </mat-tab>
          <mat-tab label="Vaccinati">
            <app-vaccine-performed
              *ngIf="performedRanking  && performedRanking.fullRanking && performedRanking.fullRanking.length > 0"
              [ranking]="performedRanking"></app-vaccine-performed>
          </mat-tab>
          <mat-tab label="Consegne">
            <app-vaccine-delivered
              *ngIf="deliveredRanking && deliveredRanking.fullRanking && deliveredRanking.fullRanking.length > 0"
              [ranking]="deliveredRanking"></app-vaccine-delivered>
          </mat-tab>
          <mat-tab label="Luoghi">
            <app-vaccine-somministration-point></app-vaccine-somministration-point>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>
