<table mat-table [dataSource]="points" class="mat-elevation-z8">

  <ng-container matColumnDef="regione">
    <th mat-header-cell *matHeaderCellDef> Regione </th>
    <td mat-cell *matCellDef="let element">
      {{element.areaDescrizione}}
      </td>
  </ng-container>

  <ng-container matColumnDef="provincia">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let element"> {{element.provincia}} </td>
  </ng-container>

  <ng-container matColumnDef="comune">
    <th mat-header-cell *matHeaderCellDef> Comune </th>
    <td mat-cell *matCellDef="let element"> {{element.comune}}</td>
  </ng-container>

  <ng-container matColumnDef="luogo">
    <th mat-header-cell *matHeaderCellDef> Luogo </th>
    <td mat-cell *matCellDef="let element"> {{element.presidioOspedaliero}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nessun dato disponibile per "{{input.value}}"</td>
  </tr>
</table>
