<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <div class="d-flex flex-wrap">
                  <div>
                      <mat-card-title><mat-icon>filter_vintage</mat-icon> I dati sui vaccini sono in fase di elaborazione</mat-card-title>
                      <mat-card-subtitle>La funzionalità sarà disponibile prima possibile. Previsione <b>31/01/2021</b>
                      </mat-card-subtitle>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
